.facet-filter {
  padding: 20px;
  padding-left: 4px;
  width: 220px; /* Adjust the width for better alignment */
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
