.facet-group {
  /* margin-bottom: 20px; */
  width: 170px; /* Ensure a consistent width for the facet groups */
  margin: 0px;
}

.facet-group h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.toggle-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}

.chevron-icon {
  transition: transform 0.3s;
}

.chevron-icon.expanded {
  transform: rotate(90deg);
}
