.facet-filter {
  padding: 20px;
  padding-left: 4px;
}

.facet-filter{
  width: 200px;
  margin-left: 2px;
  /* background-color: aquamarine; */
  border-right: 1px solid black;
  margin-left: 3px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

