.card {
    height: 450px;
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    overflow: hidden;
    background-color: #F7F7F7;
     /* Optional: hides any overflow from the image */
}

.card img{
    height: 50%; /* Set height to 100% of the parent container (`.card`) */
    width: 100%; /* Set width to 100% of the parent container (`.card`) */
    object-fit: cover; /* Scale the image while maintaining its aspect ratio */
    border: 1px solid white;
}

.btn{
    border: 2px solid blue;
    width: 180px;
    border-radius: 30px;
    color: black;
    background-color: #F7F7F7
}

.btn:hover{
    background-color: rgb(72, 72, 229);
    color: white;
    
}

.productcard-icons{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}


.productcard-icons-inner{
    display:flex;
    gap:10px;
    font-weight:700;
    font-size: medium;
}