.contact-container {
  /* background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3); */
  padding: 20px;
  border-radius: 10px; /* Optional: for rounded corners */
}

.section-header {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px; /* Ensure spacing between button and form */
}

.submit-button:hover {
  background-color: #0056b3;
}

* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.iframe {
  height: 300px; /* Adjusted height for better visibility */
  width: 100%; /* Set width to 100% for responsiveness */
  border: 0; /* Removed border */
  margin-top: 20px; /* Added margin to the iframe if needed */
}

.icon-spacing {
  margin-right: 15px; /* Adjust the value to increase/decrease spacing */
}

.icons a:last-child .icon-spacing {
  margin-right: 0; /* Remove right margin from the last icon */
}

